apiVersion: ceph.rook.io/v1
kind: CephCluster
metadata:
  name: rook-ceph
  namespace: rook-ceph
spec:
  # cephVersion:
  #   image: injected by main.jsonnet
  dataDirHostPath: /var/lib/rook
  mon:
    count: 3
  mgr:
    count: 2
    modules:
    - name: pg_autoscaler
      enabled: true
    - name: rook
      enabled: true
  dashboard:
    enabled: true
  monitoring:
    enabled: true
  logCollector:
    enabled: true
    periodicity: daily
    maxLogSize: 500M
  priorityClassNames:
    mon: system-node-critical
    osd: system-node-critical
    mgr: system-cluster-critical
  storage:
    useAllNodes: true
    useAllDevices: true
  disruptionManagement:
    managePodBudgets: true
